rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Allow public read access to all collections
    match /{document=**} {
      allow read: if true;
    }

    // Allow public write access to the 'messages' collection
    match /messages/{messageId} {
      allow write: if true;
    }

    // Restrict write access to all other collections to authenticated users
    match /{path=**}/ {document=*} {
      allow write: if request.auth != null && path != "messages";
    }
    
  }
}